*{
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.body{
   
    background: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbarbg{
    background-color: rgba(230, 230, 230, 0.7);
    /* position: fixed; */
}
a{
    font-size: 20px;
    text-decoration: none;
    
}
.linkUser{
    
    color: black;
}
.linksesion{
    
    color: black;
}
.list{
list-style: none;
}
.btnside{
    border-style: none;
}
.text_navbar{
    color: rgba(0, 0, 0, 0.6);
}
.text_navbar:hover{
    color: black;
    transition: 0.6s;
}
.nav-item:hover{
    background-color: rgba(0, 0, 0, 0.4);
    
}
.nav-item:hover i{
    color: white;
    transition: 0.6s;
    margin-left: 8px;
}

.textPerfil{
    color: black;
    
}
.textPerfil:hover{
    color: black;
    transition: 0.5s;
    font-size: 23px;
    
}

.carrusel1{
    filter: brightness(30%);
    margin-top: -180px;
    
   
}
.carrusel2{
    filter: brightness(30%);
    margin-top: -180px;
    
   
}
.carrusel3{
    filter: brightness(30%);
    margin-top: -180px;
    
   
}
.carruselcontent{
    height: 520px;
    overflow: hidden;
    
    
}
.textcarrusel{
    font-size: 50px;
    font-family: serif;
    
}

.contentRecetas{
    background-color: rgba(230, 230, 230, 0.6);
    
}